.TimeCounter {
  color: white;
  font-family: Comic Sans MS;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
  margin-top: 0.5vw;
}

.btnColumn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.YesOrNoButton {
  cursor: pointer;
  outline: none;
  border: 4px solid #000000;
  color: white;
  padding: 40px;
  text-align: center;
  font-size: 1.5em;
  margin: 4px 2px;
  border-radius: 50%;
}

.hide {
  visibility: hidden;
}

#YesButton {
  background-color: #6dc070; /* Green */
}

#YesButton:hover {
  background-color: #85c988;
}

#NoButton {
  background-color: #d34836; /* Green */
}

#NoButton:hover {
  background-color: #d66354;
}

.ActionableSwipeCard {
  z-index: 6;
  position: relative;
}

