# This file contains the variable names that are required for your .env file.

# PLEASE READ https://github.com/we-are-number-1/yumble/wiki/Yumble-Architecture-&-Design#database---mongodb

# HOW TO USE:
# First, copy and paste this file into the same directory, and rename it to ".env"
# Then, assign the actual values to the variables, by inserting their value into the quotes.

# MONGO DB Atlas URI (see https://github.com/we-are-number-1/yumble/wiki/MongoDB-Atlas)
ATLAS_URI=""

# Google Maps API Key (see https://github.com/we-are-number-1/yumble/wiki/Working-with-Google-Maps-JavaScript-API)
GOOGLE_API_KEY=""

# MONGO DB Session Schema Expiry Index. The value is integer.
# You should set this integer to be 604800 (one week), unless you are testing - with a separate database of course.
SESSION_EXPIRY=