.ResultTitle {
  color: white;
  font-family:monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  margin-top: 0.5vw;
}

.MainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 100%;
  border: 4px solid #000000;
  background-color: #f4cb9b;
  border-radius: 30px;
  margin: 5px;
}

.PieChart {
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DataVisual {
  width: 100%;
  height: 100%;
}

.ButtonReset {
  background: #F63D52;
  background-image: -webkit-linear-gradient(top, #F63D52, #9D1ED0);
  background-image: -moz-linear-gradient(top, #F63D52, #9D1ED0);
  background-image: -ms-linear-gradient(top, #F63D52, #9D1ED0);
  background-image: -o-linear-gradient(top, #F63D52, #9D1ED0);
  background-image: -webkit-gradient(to bottom, #F63D52, #9D1ED0);

  color: #FFFFFF;
  font-family: monospace;
  font-size: 40px;
  font-weight: 400;
  padding: 23px;

  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 5%;
}

.ButtonReset:hover {
  border: solid #337FED 1px;
  background: #1E62D0;
  background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
