/* Swiping page cards */
.SwipeCard {
  outline: none;
  border: 5px solid #000000;
  background-color: white;
  cursor: pointer;
  height: 100%;
  width: 100%;
  font-family: Comic Sans MS;
  border-radius: 30px;
  padding: 1.5vw;
  padding-bottom: 0.5vw;
  margin-bottom: 0.5vw;
}

.CardImage {
  height: 30vh;
  width: 30vh;
  margin: auto;
  border-radius: 30px;
}

.PlaceDetails {
  margin: 1vw;
}

#name {
  font-size: 2em;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  pointer-events: none;
}

#location,
#price {
  font-size: 1.5em;
  font-weight: lighter;
}

#rating {
  font-size: 1.5em;
  text-align: end;
}
