/*Lobby box */
.LobbyBox {
  outline: none;
  border: 0.25rem solid #000000;
  background-color: #404040;
  height: auto;
  width: 75vw;
  border-radius: 0.25em;
  font-size: 2vw;
  margin-bottom: 1vw;
  padding: 1rem;
  text-align: left;
}

.MakeTextCentre {
  font-size: 1vw;
}

.CusineTitle {
  margin-top: 10vw;
  margin-bottom: 1vw;
  font-weight: bold;
  color: white;
  font-size: 2vw;
}

.ShareButton {
  cursor: pointer;
  outline: none;
  font-size: 1.25rem !important;
  padding: 1rem 2rem !important;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1vw;
}

.FoodIconText {
  font-size: 0.5em;
  display: block;
  position: relative;
  top: 5.7vw;
  overflow: auto;
  white-space: nowrap;
  text-overflow: clip;
  max-width: auto;
}

.Inline_Block {
  display: inline-block;
  color: white;
  font-size: 2rem;
}

.MakeTextCentre {
  text-align: center;
}

.CentreTitle {
  display: inline-block;
  width: 15.3vw;
}

/*Lobby image container*/
#container {
  width: 100%;
  text-align: center;
  max-height: 55vh;
  overflow: auto;
}
#container > div {
  width: calc(100% / 10);
  min-width: 200px;
  max-height: 500px;
  display: inline-block;
  vertical-align: top;
  border: none;
  text-align: center;
  margin: 2.8%;
  padding: 0;
}

#FoodIcon {
  background-position: center;
  background-size: cover;
}

.cardImage {
  max-height: 10vw;
  min-height: 100px;
  width: auto !important;
  height: auto;
  object-fit: cover;
}

.cardMain {
  color: white !important;
  background-color: transparent !important;
}
