.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* need to refactor below */

/* Common */
.Title {
  position: absolute;
  color: white;
  font-family: Comic Sans MS;
  margin: 1vw;
  font-size: 3.5vw;
}

.BackGroundImage {
  background-image: url('https://wallpaperaccess.com/full/679983.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.SmallBtn {
  outline: none;
  font-family: Comic Sans MS;
  font-size: 2vw;
  border-radius: 30px;
  border-color: black;
  border-width: 5px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  align-self: flex-end;
  right: 0;
  margin: 1vw;
}

.SmallBtn:hover {
  background: silver;
}

#copy {
  cursor: pointer;
  outline: none;
  font-family: Comic Sans MS;
  font-size: 2vw;
  border-radius: 30px;
  border-color: black;
  border-width: 5px;
  padding: 0vw 3vw 0vw 3vw;
  background-color: rgb(35, 164, 224);
}

#HelpButton {
  padding: 0.5vw 1vw 0.5vw 1vw;
}

#CloseButton {
  font-size: 1vw;
}

#BackButton {
  background-color: rgb(236, 69, 69);
  padding: 0.5vw 2vw 0.5vw 2vw;
  left: 0;
}

#BackButton:hover {
  background: white;
}

.MakeCentre {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Unique */

/* StartPage */
.StartTitle {
  color: white;
  font-family: Comic Sans MS;
  font-size: 8vw;
  margin: 0;
}

.BigBtn {
  cursor: pointer;
  outline: none;
  font-family: Comic Sans MS;
  font-size: 3vw;
  border-radius: 30px;
  border-color: black;
  border-width: 5px;
}

.BigBtn:hover {
  background: silver;
}

#CreateGroup_btn {
  padding: 1vw 3vw 1vw 3vw;
  margin-bottom: 1vw;
  margin-top: 2vw;
}

#JoinGroup_btn {
  padding: 1vw 4.7vw 1vw 4.7vw;
}

#GoogleMaps_btn {
  background-color: #59d47c;
  width: 350px;
  font-size: 18pt;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#GoogleMaps_btn:hover {
  background: #c7ffd7;
}

/* CreateGroup */
.GroupCode_Box {
  /* might be a merg conflict with join_input */
}
.Join_input {
  outline: none;
  border: 4px solid #000000;
  background-color: white;
  height: 30vw;
  width: 30vw;
  text-align: center;
  font-family: Comic Sans MS;
  border-radius: 30px;
  padding: 2vw;
  font-size: 3vw;
}

.GoButton {
  cursor: pointer;
  outline: none;
  font-family: Comic Sans MS;
  font-size: 2vw;
  border-radius: 30px;
  border-color: black;
  border-width: 3px;
  padding: 0vw 3vw 0vw 3vw;
  background-color: rgb(35, 164, 224);
}

.GoButton:hover {
  background: cyan;
}

/* Results Page */
.ResultTitle {
  -webkit-text-stroke: 4px black;
  color: white;
  font-family: Comic Sans MS;
  margin: 1vw;
  font-size: 50pt;
}
