.LocationTitle {
    font-size: 1.5em;
    font-weight: 500;
    color: white;
}

.MakePreference {
    outline: none;
    border: 4px solid #000000;
    background-color: #404040;
    height: auto;
    width: auto;
    border-radius: 0.5rem;
    margin-top: 10vw;
    padding: 3em;
    padding-left: 4em;
    padding-top: 1.5em;
}

.Slider {
    width: 60vw;
    position: relative;
    right: 0.5vw;
    border: 2px solid #000000;
}

.pricePicker {
    outline: none;
    color: green;
    position: relative;
    width: 6em;
    height: 5vh;
    max-height: 50px;
    margin: 0.5vw;
    border: 1.2px solid #000000;
    border-radius: 0.5rem;
    font-size: 1em;
    right: 1.1vw;
}

.priceText {
    font-size: 1.5em;
    color: white;
}

.RangeAndTimerText {
    font-size: 1.5em;
    color: white;
}

.SliderText {
    text-align: center;
    margin-bottom: 1vw;
    font-size: 1em;
    color: burlywood;
}

.GoPrefButton {
    cursor: pointer;
    outline: none;
    font-size: 2em;
    border: 0.5vw solid black;
    border-width: 3px;
    padding: 0vw 28.8vw;
    background-color: #FF9900;
    margin-top: 5vh;
    border-radius: 0.5rem;
    text-align: center;
    position: relative;
    right: 0.8vw;
}

.GoPrefButton:hover {
    background: #FFCC00;
}
