.LocationTitle {
  font-family: Comic Sans MS;
}

.MakePreference {
  outline: none;
  border: 4px solid #000000;
  background-color: white;
  height: 50vw;
  width: 61vw;
  font-family: Comic Sans MS;
  border-radius: 30px;
  padding: 1.5vw;
  margin-top: 10vw;
}

.Slider {
 background-color: pink;
 width: 60vw;
 position: relative;
 right: 0.5vw;
 border: 2px solid #000000;
}

.pricePicker {
  outline: none;
  background-color: lightgreen;
  color: green;
  position: relative;
  width: 6vw;
  height: 2vw;
  margin: 0.5vw;
  border: 1.2px solid #000000;
  border-radius: 20px;
  font-size: 1vw;
  font-family: Comic Sans MS;
  right: 0.5vw;
}

.priceText {
  color: green;
  font-size: 1.5vw;
}

.MakeBold {
font-weight: bold;
font-family: Comic Sans MS;
font-size: 1.5vw;
}

.SliderText {
  font-family: Comic Sans MS;
  text-align: center;
  margin-bottom: 1vw;
  font-size: 1vw;
}

.GoPrefButton {
  cursor: pointer;
  outline: none;
  font-family: Comic Sans MS;
  font-size: 2vw;
  border-radius: 30px;
  border: 0.5vw solid black;
  border-width: 3px;
  padding: 0vw 28.8vw 0vw 28.8vw;
  background-color: rgb(35, 164, 224);
  margin-top: 1vw;
  text-align: center;
  
}

.GoPrefButton:hover {
  background: cyan;
}
