.LocationTitle {
  font-family: Comic Sans MS;
}

.MakePreference {
  outline: none;
  border: 4px solid #000000;
  background-color: white;
  height: 40vw;
  width: 61vw;
  font-family: Comic Sans MS;
  border-radius: 30px;
  padding: 1vw;
  margin-top: 10vw;
}

.Slider {
 width: 60vw;
 margin-left: 1vw;
 border: 2px solid #000000;
}

.pricePicker {
  width: 59vw;
  height: 2.5vw;
  margin: 1vw;
  border: 2px solid #000000;
  border-radius: 10px;
}
